/.idea

/containers.override.env

/docker/data/mariadb/10.0/*
/docker/data/mariadb/10.1/*
/docker/data/mariadb/10.2/*
/docker/data/mysql/5.5/*
/docker/data/mysql/5.6/*
/docker/data/mysql/5.7/*
/docker/data/mysql/8.0/*
!/docker/data/mariadb/10.0/.gitkeep
!/docker/data/mariadb/10.1/.gitkeep
!/docker/data/mariadb/10.2/.gitkeep
!/docker/data/mysql/5.5/.gitkeep
!/docker/data/mysql/5.6/.gitkeep
!/docker/data/mysql/5.7/.gitkeep
!/docker/data/mysql/8.0/.gitkeep

/docker/logs/mariadb/10.0/*
/docker/logs/mariadb/10.1/*
/docker/logs/mariadb/10.2/*
/docker/logs/mysql/5.5/*
/docker/logs/mysql/5.6/*
/docker/logs/mysql/5.7/*
/docker/logs/mysql/8.0/*
!/docker/logs/mariadb/10.0/.gitkeep
!/docker/logs/mariadb/10.1/.gitkeep
!/docker/logs/mariadb/10.2/.gitkeep
!/docker/logs/mysql/5.5/.gitkeep
!/docker/logs/mysql/5.6/.gitkeep
!/docker/logs/mysql/5.7/.gitkeep
!/docker/logs/mysql/8.0/.gitkeep
