/.idea

/adminer/vendor/*

/app/.env.local
/app/config/secrets/*
/app/node_modules/*
/app/public/build/*
/app/var/cache/*
/app/var/log/*
/app/vendor/*

/docker/data/composer_cache/*

/docker/data/mariadb/5.5/*
/docker/data/mariadb/10.0/*
/docker/data/mariadb/10.1/*
/docker/data/mariadb/10.2/*
/docker/data/mariadb/10.3/*
/docker/data/mariadb/10.4/*
/docker/data/mariadb/10.5/*
/docker/data/mssqlserver/2017/*
/docker/data/mssqlserver/2019/*
/docker/data/mysql/5.5/*
/docker/data/mysql/5.6/*
/docker/data/mysql/5.7/*
/docker/data/mysql/8.0/*
/docker/data/oracle/11.2/*
/docker/data/oracle/18.4/*
/docker/data/percona/5.6/*
/docker/data/percona/5.7/*
/docker/data/percona/8.0/*
/docker/data/postgresql/9.4/*
/docker/data/postgresql/9.5/*
/docker/data/postgresql/9.6/*
/docker/data/postgresql/10/*
/docker/data/postgresql/11/*
/docker/data/postgresql/12/*
/docker/data/redis/*
/docker/data/sqlite/3.27/*
!/docker/data/composer_cache/.gitkeep
!/docker/data/mariadb/5.5/.gitkeep
!/docker/data/mariadb/10.0/.gitkeep
!/docker/data/mariadb/10.1/.gitkeep
!/docker/data/mariadb/10.2/.gitkeep
!/docker/data/mariadb/10.3/.gitkeep
!/docker/data/mariadb/10.4/.gitkeep
!/docker/data/mariadb/10.5/.gitkeep
!/docker/data/mssqlserver/2017/.gitkeep
!/docker/data/mssqlserver/2019/.gitkeep
!/docker/data/mysql/5.5/.gitkeep
!/docker/data/mysql/5.6/.gitkeep
!/docker/data/mysql/5.7/.gitkeep
!/docker/data/mysql/8.0/.gitkeep
!/docker/data/oracle/11.2/.gitkeep
!/docker/data/oracle/18.4/.gitkeep
!/docker/data/percona/5.6/.gitkeep
!/docker/data/percona/5.7/.gitkeep
!/docker/data/percona/8.0/.gitkeep
!/docker/data/postgresql/9.4/.gitkeep
!/docker/data/postgresql/9.5/.gitkeep
!/docker/data/postgresql/9.6/.gitkeep
!/docker/data/postgresql/10/.gitkeep
!/docker/data/postgresql/11/.gitkeep
!/docker/data/postgresql/12/.gitkeep
!docker/data/redis/.gitkeep
!docker/data/sqlite/3.27/.gitkeep

/docker/.env.local

/docker/logs/adminer/nginx/*
/docker/logs/adminer/php/*
/docker/logs/mariadb/5.5/*
/docker/logs/mariadb/10.0/*
/docker/logs/mariadb/10.1/*
/docker/logs/mariadb/10.2/*
/docker/logs/mariadb/10.3/*
/docker/logs/mariadb/10.4/*
/docker/logs/mariadb/10.5/*
/docker/logs/mssqlserver/2017/*
/docker/logs/mssqlserver/2019/*
/docker/logs/mysql/5.5/*
/docker/logs/mysql/5.6/*
/docker/logs/mysql/5.7/*
/docker/logs/mysql/8.0/*
/docker/logs/oracle/11.2/*
/docker/logs/oracle/18.4/*
/docker/logs/percona/5.6/*
/docker/logs/percona/5.7/*
/docker/logs/percona/8.0/*
/docker/logs/postgresql/9.4/*
/docker/logs/postgresql/9.5/*
/docker/logs/postgresql/9.6/*
/docker/logs/postgresql/10/*
/docker/logs/postgresql/11/*
/docker/logs/postgresql/12/*
/docker/logs/redis/*
/docker/logs/web/redis/*
/docker/logs/web/nginx/*
/docker/logs/web/php/*
/docker/logs/worker/*
!/docker/logs/admin/nginx/.gitkeep
!/docker/logs/admin/php/.gitkeep
!/docker/logs/mariadb/5.5/.gitkeep
!/docker/logs/mariadb/10.0/.gitkeep
!/docker/logs/mariadb/10.1/.gitkeep
!/docker/logs/mariadb/10.2/.gitkeep
!/docker/logs/mariadb/10.3/.gitkeep
!/docker/logs/mariadb/10.4/.gitkeep
!/docker/logs/mariadb/10.5/.gitkeep
!/docker/logs/mssqlserver/2017/.gitkeep
!/docker/logs/mssqlserver/2019/.gitkeep
!/docker/logs/mysql/5.5/.gitkeep
!/docker/logs/mysql/5.6/.gitkeep
!/docker/logs/mysql/5.7/.gitkeep
!/docker/logs/mysql/8.0/.gitkeep
!/docker/logs/oracle/11.2/.gitkeep
!/docker/logs/oracle/18.4/.gitkeep
!/docker/logs/postgresql/9.4/.gitkeep
!/docker/logs/percona/5.6/.gitkeep
!/docker/logs/percona/5.7/.gitkeep
!/docker/logs/percona/8.0/.gitkeep
!/docker/logs/postgresql/9.5/.gitkeep
!/docker/logs/postgresql/9.6/.gitkeep
!/docker/logs/postgresql/10/.gitkeep
!/docker/logs/postgresql/11/.gitkeep
!/docker/logs/postgresql/12/.gitkeep
!/docker/logs/redis/.gitkeep
!/docker/logs/web/nginx/.gitkeep
!/docker/logs/web/php/.gitkeep
!/docker/logs/worker/.gitkeep

/shared/*
!/shared/.gitkeep
