/.idea

/containers.override.env

/data/mariadb/10.0/*
/data/mariadb/10.1/*
/data/mariadb/10.2/*
/data/mysql/5.5/*
/data/mysql/5.6/*
/data/mysql/5.7/*
/data/mysql/8.0/*
!/data/mariadb/10.0/.gitkeep
!/data/mariadb/10.1/.gitkeep
!/data/mariadb/10.2/.gitkeep
!/data/mysql/5.5/.gitkeep
!/data/mysql/5.6/.gitkeep
!/data/mysql/5.7/.gitkeep
!/data/mysql/8.0/.gitkeep

/logs/mariadb/10.0/*
/logs/mariadb/10.1/*
/logs/mariadb/10.2/*
/logs/mysql/5.5/*
/logs/mysql/5.6/*
/logs/mysql/5.7/*
/logs/mysql/8.0/*
!/logs/mariadb/10.0/.gitkeep
!/logs/mariadb/10.1/.gitkeep
!/logs/mariadb/10.2/.gitkeep
!/logs/mysql/5.5/.gitkeep
!/logs/mysql/5.6/.gitkeep
!/logs/mysql/5.7/.gitkeep
!/logs/mysql/8.0/.gitkeep
