{% extends 'base.html.twig' %}

{% block page_title %}DB Instances{% endblock %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}The following database instances are available{% endblock %}
        {% block box_body_class %}table-responsive no-padding{% endblock %}
        {% block box_body %}
            <table class="table hover">
                <thead>
                <tr><td>Database</td><td>Manage</td></tr>
                </thead>
                <tbody>
                {% for instance in instances %}
                    <tr><td>{{ instance }}</td><td><a href="/adminer.php?" class="fa fa-toolbox"></a></td></tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
